
.navbar-brand{
    color: rgb(32, 156, 65);
   
}
#navbarNavDropdown{
  display: flex;
  justify-content: right;
}
body{
background-image: url(./8.jpg);   
background-size: 100% 100%; 
background-repeat: no-repeat;
}
.dropdown-item{
    font-weight: bold;
    font-size: 20px;
}
.heading1{
    color: azure;
    justify-content: center;
    display: flex;
    font-size: 100px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight:  bold;
}
.p1{
    font-size: 30px;
    color: azure ;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    width: 75%;
}